<div class="ov-card ov-card-fixed" id="translate_card" style="flex: 1">
  <div class="ov-card-body ov-card-body-relative">
    <h4 class="ov-card-title ov-text-xl">{{ text_translate }}</h4>
    <div class="ov-status-container">
      {% if translate_status %}
      <span class="ov-badge ov-badge-success">{{ text_enabled }}</span>
      {% else %}
      <span class="ov-badge ov-badge-danger">{{ text_disabled }}</span>
      {% endif %}
    </div>

    <ul class="ov-bullet-list">
      <li class="ov-bullet-item">
        <span class="ov-bullet ov-bullet-red" style="align-self: start; margin-top: 8px;"></span>
        <div>
          {% if translate_for %}
            Translating:<br>
            {% for resource, value in translate_for %}
              <small class="ov-text-sm ov-text-muted">- {{ translate_sumary[resource] }}</small><br>
            {% endfor %}
          {% else %}
          <span class="ov-text-danger">No resources targeted</span>
          {% endif %}
        </div>
      </li>

      {% if translate_for['product'] %}
      <li class="ov-bullet-item">
        <span class="ov-bullet ov-bullet-blue"></span>
        {% if translate_include_stock_0 %}
          Including out of stock products
        {% else %}
          Excluding out of stock products
        {% endif %}
      </li>
      {% endif %}

      {% if translate_for %}
      <li class="ov-bullet-item">
        <span class="ov-bullet ov-bullet-green"></span>
        {% if translate_live_update %}
          Live translate on resource update
        {% else %}
          One time translate
        {% endif %}
      </li>
      {% endif %}

      {% if translate_workflow %}
      <li class="ov-bullet-item">
        <span class="ov-bullet ov-bullet-orange"></span>
        <b>Workflow:</b>&nbsp;{{ translate_workflow['name'] }}
      </li>
      {% endif %}

      <li class="ov-bullet-item">
        <span class="ov-bullet ov-bullet-cyan" style="align-self: start; margin-top: 8px;"></span>
        <div>
          <b>Languages:</b><br>
          <div class="ov-d-flex ov-flex-wrap ov-gap-2">
            {% set count = 0 %}
            {% for lang in language_settings %}
              {% if lang.translate %}
                {% set count = count + 1 %}
                <img src="{{ lang.flag }}" width="16px" height="auto" title="{{ lang.name }}" onerror="this.title=' '">
              {% endif %}
            {% endfor %}
            {% if count == 0 %}
              <span class="ov-text-danger">{{ text_warning_no_language }}</span>
            {% endif %}
          </div>
        </div>
      </li>
    </ul>

    <div class="ov-card-bottom">
      <div class="ov-feedback-container"></div>

      <div class="ov-edit-button">
        <a href="javascript:;" class="ov-btn ov-btn-outline-primary" onclick="ovesio.modalButton(event)" data-title="Translate Settings" data-url="{{ url_edit }}">Edit</a>
      </div>

    </div>

  </div>
</div>
